@font-face {
  font-family: 'Exo';
  src: local('Exo'), url('./font/Exo2.0-Thin.otf') format('opentype');
}
/* to preload images and prevent blinking*/
body::after{
  width: 1px;
  height: 1px;
  position: fixed;
  content: url("./images//background/default.png") url("./images/background/defaultHover.png")
    url("./images/background/selected.png") url("./images/background/selectedHover.png")
    url("./images/background/disabled.png");
}

body {
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
  margin: 0;
}